{% extends "base.html" %}
{% block titulo_pagina %}Detalle de Publicación{% endblock %}
{% block content %}
<div class="mb-4">
    <h3>{{ publicacion.tituloPublicacion }}</h3>
    <hr>
    <div class="mb-3">
        {% for etiqueta in publicacion.etiquetas %}
        <span class="badge bg-primary">{{ etiqueta.nombreEtiqueta }}</span>
        {% endfor %}
    </div>
    <div class="p-3 bg-white border rounded">
        {{ publicacion.contenidoPublicacion }}
    </div>
</div>
<div class="d-flex gap-2">
    <a href="{{ url_for('post.edit', id=publicacion.idPublicacion) }}" class="btn btn-warning text-white"><i class="bi bi-pencil"></i> Editar</a>
    <a href="{{ url_for('post.index') }}" class="btn btn-secondary"><i class="bi bi-arrow-left"></i> Volver al listado</a>
</div>
{% endblock %}
